$boxShadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.2), 
1px 1px 4px 4px rgba(0, 0, 0, 0.2);
#reg-container{
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .form-container{
        box-shadow:$boxShadow;
        border-radius: 10px;
    }
}